
.bg{
  background:url(bg.png);
  background-size: cover;
  width:100%;
  height: auto;
  text-align: center;
　
}
.ry{
  width: 320px;
  height: auto;
  margin:0 auto;
  display: inline-block;
  
}

h1{
  margin: 0 0;
}
.btn{
  text-decoration: none;
display: block;

  background-color: pink;
  width: 200px;
}

.saku{
width: 200px;
height: auto;
  margin: 0 auto;
}

.gazou{
  width: 220px;
  height: auto;
   display: inline-block;
}
.bg img{
  
  width: 100%;
  height: auto;

}

.zenbu{
  width: 90%;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.koe:nth-of-type(odd) .sayu ul{

  float: right;

}

.sayusayu img{
  float: right;
}





.koe{
  width: 60%;
  margin: 0 auto;
}

.koe ul li{
margin-bottom: 25px;
}

.koe2 ul li{
 margin-bottom: 25px;
}

.koe3 ul li{
    margin-bottom: 25px;
}


.koe h2{
  text-align: center;
}
.koe h3{
  text-align: center;

}.koe h4{
  text-align: center;
}

ul{
  overflow: hidden;
}


.ks{
  background-color: pink;

}
.ks h1{
  text-align: center;
}

.display{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}

.ks1{
  width: 200px;
  background-color: white;
  text-align: center;
}

.ks2{
  width: 200px;
  background-color: white;
  text-align: center;
}

.ks3{
  width: 200px;
  background-color: white;
  text-align:center;

}

.ks3{
  width: 200px;
  background-color: white;
  text-align:center;

}
